*{
  margin:0;
  padding:0;
}
#navbar{
  hight:50px;
  
  background-color:black;
  display:inline;
}
a  {
   height:2px;
   width:4px;
   text-decoratoin:none;
   margin:5px;
   
   color:white;
   
  
  }
ul{
  text-style:none;
}
