*{
  margin:0;
  padding:0;
}
#navbar{
  
  background-color:red;
  display:inline;
  border:5px soild black;
}
a  {
   height:2px;
   text-decoratoin:none;
   margin:5px;
   color:white;
   display:inline;
  line-height:15px;
  }
